---
---

// @import "{{ site.theme }}";
@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.btn {
    font-size: 12px;
    padding: 2px 6px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align:  baseline;
    border-radius: 4px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    // border: 1px solid transparent;
    border: 1px solid transparent;
}

.btn1{
	background-color: white;
	color: #a6cee3;
	border: 1px solid #a6cee3;
}


.btn2{
	background-color: white;
	color: #1f78b4;
	border: 1px solid #1f78b4;
}


.btn3{
	background-color: white;
	color: #b2df8a;
	border: 1px solid #b2df8a;
}


.btn4{
	background-color: white;
	color: #33a02c;
	border: 1px solid #33a02c;
}


.btn5{
	background-color: white;
	color: #fb9a99;
	border: 1px solid #fb9a99;
}


.btn6{
	background-color: white;
	color: #e31a1c;
	border: 1px solid #e31a1c;
}


.btn7{
	background-color: white;
	color: #fdbf6f;
	border: 1px solid #fdbf6f;
}

.btn8{
	background-color: white;
	color: #ff7f00;
	border: 1px solid #ff7f00;
}


.btn9{
	background-color: white;
	color: #cab2d6;
	border: 1px solid #cab2d6;
}


.btn10{
	background-color: white;
	color: #6a3d9a;
	border: 1px solid #6a3d9a;
}


.btn11{
	background-color: white;
	color: #ffff99;
	border: 1px solid #ffff99;
}


.btn12{
	background-color: white;
	color: #b15928;
	border: 1px solid #b15928;
}


.btn-set1-1{
	background-color: white;
	color: #e41a1c;
	border: 1px solid #e41a1c;
}
.btn-set1-1:hover{
	background-color: #e41a1c;
	color: white;
	border: 1px solid #e41a1c;
}
.btn-set1-2{
	background-color: white;
	color: #377eb8;
	border: 1px solid #377eb8;
}
.btn-set1-2:hover{
	background-color: #377eb8;
	color: white;
	border: 1px solid #377eb8;
}
.btn-set1-3{
	background-color: white;
	color: #4daf4a;
	border: 1px solid #4daf4a;
}
.btn-set1-3:hover{
	background-color: #4daf4a;
	color: white;
	border: 1px solid #4daf4a;
}
.btn-set1-4{
	background-color: white;
	color: #984ea3;
	border: 1px solid #984ea3;
}
.btn-set1-4:hover{
	background-color: #984ea3;
	color: white;
	border: 1px solid #984ea3;
}
.btn-set1-5{
	background-color: white;
	color: #ff7f00;
	border: 1px solid #ff7f00;
}
.btn-set1-5:hover{
	background-color: #ff7f00;
	color: white;
	border: 1px solid #ff7f00;
}
